* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  background-color: #f4f4f4;
}

.header {
  color: #926239;
  text-align: center;
  background-size: cover;
  padding: 0 20px;
}

.header-title {
  font-size: 50px;
  margin-top: 270px;
}

.sub-main-title {
  font-size: 20px;
  margin: 10px;
  margin-bottom: 20px;
}

.read-more-link {
  font-size: 18px;
  border: 1px solid;
  border-radius: 8px;
  text-decoration: none;
  color: inherit;
  padding: 10px 20px;
}

.section-1 {
  margin-top: 340px;
}

.p-white-text-brown-bg {
  background: #926239;
  font-size: 17px;
  color: #f4f4f4;
  padding: 20px;
  line-height: 1.6;
}

.p-brown-text-white-bg {
  color: #926239;
  padding: 20px;
  font-size: 17px;
  line-height: 1.6;
}
